* {
    font-family: 'Merriweather', serif;
}

header,
aside,
footer {
    text-align: center;    
}

header {
    background-color: #1E1F22;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    text-transform: uppercase;
    color: white;
}

aside {
    margin: 0 auto;
    width: 90%;
    border-bottom: solid black 2px;
}

aside p {
    margin-left: 1em;
    margin-right: 1em;
}


fieldset {
    border: none;
    width: 90%;
    
}


#set1 {
    margin: 2em auto 1em;
}

#set2 {
    margin: 0 auto 2em;
}

.container {
    display: flex;
    flex-direction: column;
    height: 75px;
    margin-top: 10px;
}

#fname,
#email,
#pnumber,
#address,
#city,
#state,
#zip {
    margin-top: auto;
}

legend {
    font-weight: 600;
}

label,
option,
footer,
aside p{
    color: darkgray;
}

#set1 input,
button,
select{
    padding-top: 1em;
    padding-bottom: 1em;
}

#set1 input,
textarea,
select {
    background-color: #E5E8E8;
}

#zip {
    width: 50%;
}

textarea,
button,
select {
    width: 100%;
}

#set1 input:hover,
textarea:hover,
button:hover,
select:hover {
    background-color: lightgray;
}

#set1 input:focus,
textarea:focus,
button:focus,
select:focus{
    border: .1em solid #156BD2;
}


#set1 input,
textarea,
button,
select {
    border-style: none;
    border-radius: 5px;
}

.box,
#comment{
    margin-top: 10px;
    margin-bottom: 20px;
}

input::placeholder {
    text-align: right;
}

button {
    background-color: #05B6B6;
    color: white;
    margin-top: auto;
}

footer {
    font-style: italic;
}